pipeline/pipeline_Foreach_BlobToSQL.json
{
	"name": "pipeline_Foreach_BlobToSQL",
	"properties": {
		"activities": [
			{
				"name": "Get_Folder_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_training_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Folder_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Folder_Metadata').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get_FileName",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "csv_training_file",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get_FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "d_date"
											},
											"sink": {
												"name": "d_date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "store_no"
											},
											"sink": {
												"name": "store_no",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "goo_no"
											},
											"sink": {
												"name": "goo_no",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Return_qty"
											},
											"sink": {
												"name": "Return_qty",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csv_training_file",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@activity('Get_FileName').output.itemname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "db_training_AZ_DailyStoreReturn",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Training"
		},
		"annotations": [],
		"lastPublishTime": "2021-01-20T06:28:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}